<template name="edit_booking">
    <p class="example-title">Buchung ändern</p>

    <div class="vertical-space"></div>
    <form id="edit_booking" class="ink-form slab-500">
        {{#ifEditBooking}}
            {{> successEditBookingAlert }}
        {{/ifEditBooking}}
        {{#ifNoChangesBooking}}
            {{> noChangesInBookingAlert }}
        {{/ifNoChangesBooking}}
        {{#ifDeleteBooking}}
            {{> successDeleteBookingAlert }}
        {{/ifDeleteBooking}}
        <div id="new_booking_columns" class="column-group gutters">
            <div class="control-group required all-100">
                <label for="edit_booking_amount">Betrag (€)</label>

                <div class="control">
                    <input type="text" name="amount" id="edit_booking_amount"
                           class="ink-fv-custom positiveIntegerOrDecimal" {{disabledProperty}}
                           value={{#with booking}}{{ amount }}{{/with}}>
                </div>
            </div>
            <div class="control-group required all-100">
                <label for="edit_booking_datum">Datum</label>

                <div class="control">
                    <input type="text" id="edit_booking_datum" class="ink-datepicker" {{disabledProperty}}>
                </div>
            </div>
            <div class="control-group required all-100">
                <label for="edit_booking_category">Kategorie</label>

                <div class="control">
                    <select name="category" id="edit_booking_category" {{disabledProperty}}>
                        {{#each categories}}
                            <option {{selectedProperty}} value={{ name }}>{{ name }}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="control-group all-100">
                <label id='label_edit_booking_remark' for="edit_booking_remark">Anmerkung</label>
                <div class="control">
                    <textarea rows="2" cols="20" name="remark" id="edit_booking_remark" {{disabledProperty}}>{{#with booking}}{{remark}}{{/with}}</textarea>
                </div>
            </div>
            <div class="control-group all-100">
                <div class="control">
                    <button id="save_booking" class="ink-button grey uppercase" {{ savingAndDeleteButtonDisabled }} {{disabledProperty}}>speichern</button>
                    <button id="delete_booking"
                            class="ink-button red uppercase large-push-right xlarge-push-right" {{ savingAndDeleteButtonDisabled }} {{disabledProperty}}>
                        endgültig löschen
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>

<template name="ifEditBooking">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="ifNoChangesBooking">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="ifDeleteBooking">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="successEditBookingAlert">
    <div class="ink-alert basic success" role="alert">
        <button id="close_acknowledge_edit_booking" class="ink-dismiss">&times;</button>
        <p><b>Bestätigung:</b> Buchung erfolgreich geändert.</p>
    </div>
</template>

<template name="noChangesInBookingAlert">
    <div class="ink-alert basic warning" role="alert">
        <button id="close_acknowledge_nochanges_booking" class="ink-dismiss">&times;</button>
        <p><b>Warnung:</b> Keine Änderungen festgestellt. Speichern abgebrochen!</p>
    </div>
</template>

<template name="successDeleteBookingAlert">
    <div class="ink-alert basic success" role="alert">
        <button id="close_acknowledge_delete_booking" class="ink-dismiss">&times;</button>
        <p><b>Bestätigung:</b> Buchung erfolgreich gelöscht.</p>
    </div>
</template>