<template name="new_category">
    <p class="example-title">Neue Category</p>

    <div class="vertical-space"></div>
    <form id="new_category" class="ink-form slab-500">
        {{#ifNewCategory}}
            {{> successNewCategoryAlert }}
        {{/ifNewCategory}}
        <div class="column-group gutters">
            <div class="control-group required all-100">
                <label for="new_category_name">Name</label>
                <div class="control">
                    <input id="new_category_name" name="name" type="text" class="ink-fv-custom notEmpty" {{disabledProperty}}>
                </div>
            </div>
            <div class="control-group all-100">
                <div class="control">
                    <label for="new_category_description">Beschreibung</label>
                    <div class="control">
                        <textarea rows="2" cols="40" name="description" id="new_category_description" {{disabledProperty}}></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-group gutters">
            <div class="control-group all-50">
                <div class="control">
                    <button id="submit_category" class="ink-button grey uppercase" {{savingCategoryButtonDisabled}} {{disabledProperty}}>speichern</button>
                </div>
            </div>
        </div>
    </form>
</template>

<template name="ifNewCategory">
    {{#if isPresent}}
        {{> UI.contentBlock}}
    {{/if}}
</template>

<template name="successNewCategoryAlert">
    <div class="ink-alert basic success" role="alert">
        <button id="close_acknowledge_new_category" class="ink-dismiss">&times;</button>
        <p><b>Bestätigung:</b> Kategorie erfolgreich gespeichert.</p>
    </div>
</template>